.pagination {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.pagination ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.pagination ul li {
    cursor: pointer;
}